<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Edit Secret</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Form for editing the secret -->
          <form action="/edit/secret/<%= secret._id %>" method="POST">
            <div class="form-group">
              <label for="secretText">Secret Text</label>
              <input type="text" class="form-control" name="updatedSecretText" value="<%= secret.text %>">
            </div>
            <button type="submit" class="btn btn-dark">Save Changes</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
